/*
Montserrat
Sans-serif
"Montserrat", Sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}


body {
    background: rgb(219, 218, 218);
}

.open-close-mobile-navbar {
    display: none;
    position: fixed;
    right: 0;
    width: 3rem;
    height: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-navbar-bar1, .mobile-navbar-bar2, .mobile-navbar-bar3 {
    display: flex;
    position: fixed;
    background-color: black;
    right: 0.5rem;
    top: 0.5rem;
    height: 5px;
    width: 35px;
    transition: ease;
    transition-duration: 1s;
}

.mobile-navbar-bar1 {
    top: 0.8rem;
}
.mobile-navbar-bar2 {
    top: 1.5rem;
}
.mobile-navbar-bar3 {
    top: 2.2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #F6F6F7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navbar-logo-img {
    width: 135px;
    height: 40px;
    top: 20px;
    left: 120px;
}

.navbar-container:nth-child(2) {
    word-spacing: 2.1rem;
}

.navbar-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px;
    color: #1C1C1D;
    opacity: 1;
    text-decoration: none;
    
}

.contact-button {
    background: #10DFC2 0% 0% no-repeat padding-box;
    border: none;
    top: 19px;
    left: 1033px;
    width: 213px;
    height: 42px;
    border-radius: 15px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FBFBFB;
    
}

.home-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 31rem;
    
}

.home-logo {
    width: 66px;
    height: 19px;

}

.home-h1 {
    width: 419px;
    height: 153px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 40px;
    font: normal normal bold 40px/52px Montserrat;
    color: white;
    opacity: 1;

}

.home-paragraph {
    width: 289px;
    height: 84px;
    text-align: left;
    font: normal normal normal 18px/31px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.home-container:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-container:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-rocket {
    width: 138px;
    height: 157px;
    margin-bottom: 4rem;
}

.logo-rocket-talents {
    width: 332px;
    height: 76px;
}

.about-section {
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65vh;
    background-position: center;
}

.about-container:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-h2 {
    width: 311px;
    height: 80px;
    text-align: left;
    font: normal normal bold 32px/41px Montserrat;
    letter-spacing: 0px;
    color: #032624;
    opacity: 1;
}

.about-student-img {
    width: 253px;
    height: 306px;
    opacity: 1;
}

.about-paragraph {
    width: 391px;
    height: 19px;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
}

.about-cyan-paragraph {
    margin-top: 3.5rem;
    width: 318px;
    height: 19px;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #0EAFAC;
    opacity: 1;
}

.howworks-section {
    background-color: #F6F6F6;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    
}

.howworks-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.howworks-h2 {
    width: 256px;
    height: 39px;
    text-align: left;
    font: normal normal bold 32px/41px Montserrat;
    letter-spacing: 0px;
    color: #0EAFAC;
    opacity: 1;
}

.howworks-subtitle {
    width: 559px;
    height: 19px;
    text-align: center;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
}

.howworks-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
}

.howworks-content {
    flex-direction: column;
    width: 262px;
    height: 262px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.howworks-content-icon {
    padding-top: 1rem;
    padding-left: 1rem;
}

.howworks-h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
}

.howworks-paragraph {
    padding: 1rem;
    width: 218px;
    height: 111px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
}

.requirements-section {
    background-color: white;
    width: 100%;
    height: 130vh;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.requirements-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
}

.requirements-container:nth-child(2) {
    flex-direction: row-reverse;
    gap: 2.51rem;
}

.requirements-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requirements-title {
    height: 39px;
    text-align: left;
    font: normal normal bold 32px/41px Montserrat;
    letter-spacing: 0px;
    color: #0EAFAC;
    opacity: 1;
}

.requirements-subtitle {
    width: 267px;
    height: 19px;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
    opacity: 1;
}

.requirements-ul {
    width: 471px;
    height: 111px;
    text-align: left;
    list-style: none;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
    opacity: 1;
}

.details-ul {
    width: 385px;
    height: 134px;
    text-align: left;
    list-style: none;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #032624;
    opacity: 1;  
}

.email-form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    height: 215px;
    width: 100%;
    background: #19DBD1 0% 0% no-repeat padding-box;

}

.email-form-title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-form-h2 {
    text-align: left;
    font: normal normal bold 32px/41px Montserrat;
    letter-spacing: 0px;
    color: white;
}

.email-form-paragraph {
    width: 480px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.email-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-form-label {
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.email-form-input {
    width: 300px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
}

.email-form-submit {
    width: 100px;
    height: 35px;
    background: #FFB900 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: #04254C;
}

.footer-logo-img {
    width: 135px;
    height: 40px;
}

.slogan {
    width: 351px;
    height: 42px;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footer-paragraph-about-gx2 {
    width: 428px;
    height: 65px;
    text-align: left;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.talk-with-us-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 181px;
    height: 35px;
    background: #FFB900 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
}

.footer-phone-icon {
    width: 18px;
    height: 18px;
}

.footer-h4 {
    width: 109px;
    height: 29px;
    text-align: left;
    font: normal normal 600 24px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF; 
}

.footer-ul {
    display: flex;
    width: 131px;
    height: 317px;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    list-style: none;
}

.footer-ul li {
    width: 131px;
    height: 19px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.footer-container:nth-child(2) {
    gap: 1rem;
    margin-top: 5rem;
}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 412px;
    height: 5rem;
}

.icon-location-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 5rem;
}

.footer-h6 {
    margin-bottom: 1rem;
    width: 180px;
    height: 19px;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footer-paragraph-location {
    width: 294px;
    height: 44px;
    text-align: left;
    font: normal normal normal 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media (max-width: 1179px) {
    .howworks-section {
        height: 50rem;
    }

    .howworks-container {
        justify-content: center;
        gap: 1rem;
    }

    .email-form-section {
        height: 20rem;
        flex-direction: column;
        gap: 1rem;
    }

    .email-form-title-container {
        align-items: center;
    }

    .email-form-container {
        align-items: center;
    }

    .requirements-section {
        height: 50rem;
    }
}

@media (max-width: 986px) {
    footer {
        flex-wrap: wrap;
        height: 55rem;
    }
}

@media (max-width:805px) {
    .open-close-mobile-navbar {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;
        position: fixed;
        right: -50%;
        transition: ease;
        transition-duration: 1s;
    }

    .navbar-container:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-button {
        width: 40vw;
    }

    .home-section {
        height: 30rem;
        justify-content: center;
    }

    .home-h1 {
        font-size: 25px;
        width: 260px;
    }

    .logo-rocket {
        width: 69px;
        height: 78.5px;
        margin-bottom: 1rem;
    }
    
    .logo-rocket-talents {
        width: 166px;
        height: 38px;
    }

    .about-section {
        align-items: center;
        height: 40rem;
    }
    
    .about-h2 {
        margin: 0 auto;
        width: 100vw;
        text-align: center;
        font-size: 25px;
    }

    .about-paragraph {
        width: 100vw;
        font-size: 15px;
        word-wrap: break-word;
        margin: 0 auto;
        text-align: center;
    }

    .about-cyan-paragraph {
        width: 100vw;
        margin-top: 5rem;
        text-align: center;
    }

    .howworks-section {
        flex-direction: row;
        gap: 1rem;
    } 

    
}

@media (max-width:723px) {
    .requirements-section {
        height: 80rem;
        padding-bottom: 3rem;
        gap: 3rem;
    }

    .requirements-title {
        text-align: center;
    }
    .requirements-subtitle {
        height: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    .requirements-ul {
        margin: 0 auto;
        text-align: center;
        width: 100vw;
    }

    .details-ul {
        margin: 0 auto;
        text-align: center;
        width: 100vw;
    }
}

@media (max-width:599px) {
    .howworks-section {
        height: 85rem;
    }

    .howworks-h2 {
        font-size: 30px;
        text-align: center;
    }

    .howworks-subtitle {
        width: 100vw;
        margin-bottom: 2rem;
    }
}
@media (max-width:558px) {
    footer {
        height: 75rem;
        gap: 2rem;
        row-gap: 0;
    }

    .footer-container {
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .location-container {
        width: 100vw;
    }

    .slogan {
        width: 100vw;
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-paragraph-about-gx2 {
        text-align: center;
        width: 100vw;
        margin-bottom: 2rem;
    }

    .footer-ul {
        text-align: center;
    }

    .footer-paragraph-location {
        width: 60vw;
        font-size: 10px;
    }

    .icon-location-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: 2rem;
    }

}


@media (max-width: 478px) {
    .email-form-h2 {
        font-size: 30px;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
    }

    .email-form-paragraph {
        width: 100vw;
        margin-bottom: 2rem;
        text-align: center;
    }

    .email-form-input {
        width: 95vw;
    }
}


@media (max-width: 365px) {
    .margin-wrap {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
}